<p-menubar [model]="items" [style]="{ 'margin-bottom': '3rem' }">
  <ng-template pTemplate="start">
    <div class="navbar-header">
      <span class="navbar-brand"> <b>RecipeBook</b></span>
    </div></ng-template
  >
  <ng-template pTemplate="end">
    <button
      pButton
      class="p-button-outline"
      [routerLink]="['/dashboard']"
      *ngIf="isAdmin()"
    >
      Dashboard
    </button>
    <button pButton class="p-button-text" (click)="logOut()" *ngIf="isAuth()">
      Log out
    </button>
  </ng-template>
</p-menubar>
