.enabledInputRecipe {
  input,
  textarea {
    font-size: medium;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(136, 60, 174);
  }
  input:focus,
  textarea:focus {
    font-size: medium;
    background-color: rgba(136, 60, 174, 0.3);
    outline: none;
    border-radius: 0.6rem;
  }
}
