<div class="container">
  <p-card header="Login" [style]="{ width: '30rem', margin: 'auto' }">
    <h5>Name:</h5>
    <input type="text" pInputText />

    <h5>Username:</h5>
    <input type="text" pInputText />

    <h5>Password:</h5>
    <p-password
      [toggleMask]="true"
      [feedback]="false"
      styleClass="p-password p-component p-inputwrapper p-input-icon-right"
    ></p-password>

    <ng-template pTemplate="footer">
      <div class="d-flex">
        <button class="p-button">Register</button>
      </div>
    </ng-template>
  </p-card>
</div>
