#header {
  margin-top: 5px;
  font-size: x-large;
  font-weight: 500;
}
:host ::ng-deep .p-chip.customRecipeIngredientChip {
  background: rgba(136, 60, 174, 0.5);
  color: white;
  margin: 5px;
  height: 3rem;
}

.disabledInputsRecipe {
  input,
  textarea {
    font-size: medium;
    background-color: transparent;
    border: none;
  }
}

textarea#descr-textarea {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
}
