<div class="row">
  <div class="col-xs-12">
    <img [src]="recipe.imagePath" alt="" class="img-responsive" />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <p-button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Options <span class="caret"></span>
      </p-button>
      <ul class="dropdown-menu">
        <li><a href="#" class="dropdown-item">To Shopping List</a></li>
        <li><a href="#" class="dropdown-item">Edit Recepe</a></li>
        <li><a href="#" class="dropdown-item">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">{{ recipe.description }}</div>
</div>
<div class="row"><div class="col-xs-12">Ingredients</div></div>
