<div class="row">
  <div class="col-md-5">
    <app-recipe-list
      [recipes]="recipes"
      (onSelectedOutput)="assignSelectedRecipe($event)"
    >
    </app-recipe-list>
  </div>
  <div class="col-md-7">
    <app-recipe-detail
      *ngIf="selectedRecipe; else msgTxt"
      [recipe]="selectedRecipe"
      [recipes]="recipes"
      (deleteRecipeOutput)="deleteRecipe($event)"
      (addToShoppingListOutput)="addIngredientsToShoppingList($event)"
    ></app-recipe-detail>
    <ng-template #msgTxt>
      <p-messages severity="info">
        <ng-template pTemplate>
          <div class="ml-2">Select a recipe to see its details :)</div>
        </ng-template>
      </p-messages>
    </ng-template>
  </div>
</div>
