<div class="row">
  <div class="col-xs-12">
    <p-button pButton (click)="newRecipe()">New Recipe</p-button>
    <app-recipe-dialog
      [(display)]="display"
      (dialogOutput)="onClose($event)"
      [recipe]="new_recipe"
    ></app-recipe-dialog>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-12">
    <app-recipe-item
      *ngFor="let recipeElement of recipes"
      [recipe]="recipeElement"
      (click)="selectRecipe(recipeElement)"
    ></app-recipe-item>
  </div>
</div>
