#delete-icon,
#approve-icon {
  margin: 3px;
  font-size: 1.8rem;
}

#delete-icon:hover {
  color: rgb(238, 11, 11);
  cursor: pointer;
}

#approve-icon:hover {
  color: rgb(60, 190, 60);
  cursor: pointer;
}
