<div class="row">
  <div class="col-xs-6">
    <app-shopping-edit
      *ngIf="hasRights()"
      (addIngredientOutput)="addIngredient($event)"
    ></app-shopping-edit>
    <hr />
    <ul class="list-group">
      <div
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients"
      >
        <b>{{ ingredient.name }}</b> ({{ ingredient.amount }})<i
          class="pi pi-trash pull-right"
          style="font-size: 15px; margin-top: 5px"
          (click)="deleteIngredient(ingredient.id)"
        ></i>
      </div>
      <p-confirmDialog header="Are you sure?"></p-confirmDialog>
    </ul>
  </div>
</div>
